.headerImage {
    width: 100%;
}

.menuContainer {
    filter: drop-shadow(10px 10px 10px gray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-image: url("skyline1.jpg");
}

.Dennis,
.Gustaf,
.start {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: gilroy;
    font-size: 30px;
}

nav div a {
    background-color: rgba(136, 175, 219, 0.651);
}

.current-item a {
    background-color: rgb(20, 40, 56);
}

nav div a:hover {
    background-color: rgb(66, 145, 209);
}

@font-face {
    font-family: gilroy;
    src: url(gilroy-light.otf);
}

body {
    background-color: rgb(145, 218, 252);
}

.container {
  display: flex;
}

.containerItem {
  width:100%;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 90%;
}

p {
  position: absolute;
  bottom: 12px;
  left: 16px;
  color:white;
  font-family: gilroy;
  font-size: 14px;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-spacing: 25px;
}

table tr
{
  font-family: gilroy;
  font-size: 30px;
}

th:hover, td:hover  {
  background: lightgray;
}


th, td {
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  background-color: whitesmoke;
  padding:20px;
}

td:before, th:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
td:hover:before, td:focus:before, td:active:before, th:hover:before, th:focus:before, th:active:before {
  left: 0;
  right: 0;
}