.headerImage {
    width: 100%;
}

.menuContainer {
    filter: drop-shadow(10px 10px 10px gray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-image: url("skyline1.jpg");
}

.Dennis,
.Gustaf,
.start {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: gilroy;
    font-size: 30px;
    background-color: rgba(136, 175, 219, 0.651);
}

.current-item a {
    background-color: rgb(20, 40, 56);
}

nav div a:hover {
    background-color: rgb(66, 145, 209);
}

@font-face {
    font-family: gilroy;
    src: url(gilroy-light.otf);
}

body {
    background-color: rgb(68, 104, 75);
}

.grid-container-Dennis {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-gap: 20px;
}

.grid-item-Dennis {
    text-align: center;
    padding: 20px;
    border: 3px solid white;
    font-size: 22px;
    font-family: gilroy;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
    transition-duration: 0.3s;
    background-color: rgba(148, 171, 190, 0.342);
}

.grid-item-Dennis:hover {
    background-color: white;
    border-radius: 18px;
}

.interest-list {
    font: gilroy;
}

.guitarPic {
    opacity: 50%;
}

.imgText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: gilroy;
}

.DennisImg {
    border: 4px solid white;
    box-shadow: 0 0px gray, 0px 0 gray;
    width: 350px;
    height: auto;
    justify-content: center;
}

.imgDennis {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}