.headerImage {
    width: 100%;
}

.menuContainer {
    filter: drop-shadow(10px 10px 10px gray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-image: url("skyline1.jpg");
}

.Dennis,
.Gustaf,
.start {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: gilroy;
    font-size: 30px;
}

nav div a {
    background-color: rgba(136, 175, 219, 0.651);
}

.current-item a {
    background-color: rgb(20, 40, 56);
}

nav div a:hover {
    background-color: rgb(66, 145, 209);
}

@font-face {
    font-family: gilroy;
    src: url(gilroy-light.otf);
}

body {
    background-color: rgb(68, 104, 75);
}

.container {

  display: flex;

}

.containerItem {
  width:100%;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 90%;
}

p {
  position: absolute;
  bottom: 12px;
  left: 16px;
  color:white;
  font-family: gilroy;
  font-size: 14px;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

table tr
{
  font-family: gilroy;
  font-size: 30px;
}

th, td  {
    padding: 20px;
    transition: all 1s ease-out;
    background-color: whitesmoke;
}

th:hover, td:hover  {
  transform:rotate3d(1, 1, 1, 360deg);
  background: lightgray;
}

tbody {
  --borderWidth: 1px;
  position: relative;
  padding:20px;
}

tbody:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  border-radius: 25px;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}