@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: rgb(189, 221, 195);
    font-family: gilroy;
    background-position: center;
    min-height: 100vh;
}

.logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.loginbox {
    width: 320px;
    height: 250px;
    background: rgba(0, 0, 0, 0.514);
    color: #fff;
    padding: 50px;
    margin-top: 200px;
    border-radius: 10px;
    transition-duration: 0.6s;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

.loginbox:hover {
    border-radius: 50px;
    transform: scale(1.15);
}

.buttons {
    padding: 10px;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
}

.form-info {
    padding: 40px
}

.dot {
    height: 45px;
    width: 45px;
    background-color: rgba(67, 47, 122, 0.815);
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    opacity: 80%;
}

@keyframes example {
    0% {
        left: 0px;
        top: 30px;
    }
    20% {
        left: 750px;
        top: 30px;
    }
    40% {
        left: 750px;
        top: 800px;
    }
    60% {
        left: -750px;
        top: 800px;
    }
    80% {
        left: -750px;
        top: 30px;
    }
    100% {
        left: 0;
        top: 30px;
    }
}

.btns {
    font-family: 'Poppins', sans-serif;
    size: 30px;
    background: linear-gradient(90deg, #0162c8, #accaacfc);
    border-radius: 6px;
    padding: 8px 8px;
    margin: 8px;
    transition-duration: 0.5s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.986);
}

.btns:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}