.headerImage {
    width: 100%;
}

.menuContainer {
    filter: drop-shadow(10px 10px 10px gray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-image: url("skyline1.jpg");
}

.Dennis,
.Gustaf,
.start {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: gilroy;
    font-size: 30px;
    background-color: rgba(136, 175, 219, 0.651);
}

.current-item a {
    background-color: rgb(20, 40, 56);
}

nav div a:hover {
    background-color: rgb(66, 145, 209);
}

@font-face {
    font-family: gilroy;
    src: url(gilroy-light.otf);
}

.logo { /*Trpr inte denna gör ngt*/
    width: 50%;
    margin: auto;
    display: block;
}

.grid-container-gustaf {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    padding: 10px;
    grid-gap: 80px;
    justify-content: space-evenly;
}

.grid-item-gustaf {
    padding: 20px;
    font-size: 16px;
    font-family: gilroy;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
    background-color: white;
    transition: all 0.3s ease-out;
}

.grid-item-gustaf table {
    padding: 0 25px 0 0;
}

.grid-item-gustaf table tr {
    text-align: left;
}

.grid-item-gustaf ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
}

.grid-item-gustaf ul li:first-child {
    font-weight: bold;
    font-size: 20px;
}

.grid-item-gustaf:hover {
    transform: scale(1.15);
    transition-duration: 0.3s;
}

.imgDivGustaf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.imgGustaf {
    border: 4px solid white;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

.imgDivChild {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: gilroy;
}

  .footerText {
    position: absolute;
    bottom:30px;
    left: 36px;
    color:white;
    font-family: gilroy;
    font-size: 14px;
  }

  body {
    --borderWidth: 1px;
    position: relative;
    padding:20px;
  }
  
  body:after  {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #B0E0E6, #87CEFA, #00BFFF, #1E90FF, #4682B4, #4169E1, #87CEEB, #3333FF);
    z-index: -1;
    animation: animatedgradient 20s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }