.headerImage {
    width: 100%;
}

.menuContainer {
    filter: drop-shadow(10px 10px 10px gray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-image: url("skyline1.jpg");
}

.Dennis,
.Gustaf,
.start {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: gilroy;
    font-size: 30px;
    background-color: rgba(136, 175, 219, 0.651);
}

.current-item a {
    background-color: rgb(20, 40, 56);
}

nav div a:hover {
    background-color: rgb(66, 145, 209);
}

@font-face {
    font-family: gilroy;
    src: url(gilroy-light.otf);
}

body {
    background-color: rgb(68, 104, 75);
}

.logo { /*Trpr inte denna gör ngt*/
    width: 50%;
    margin: auto;
    display: block;
}

.grid-container-gustaf {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 10px;
    grid-gap: 60px;
    justify-content: space-evenly;
}

.grid-item-gustaf {
    text-align: center;
    padding: 20px;
    border: 1px solid white;
    font-size: 16px;
    font-family: gilroy;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
    background-color: white;
}

.grid-item-gustaf table {
    padding: 0 25px 0 0;
}

.grid-item-gustaf table tr {
    text-align: left;
}

.grid-item-gustaf ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
}

.grid-item-gustaf ul li:first-child {
    font-weight: bold;
    font-size: 20px;
}

.imgDivGustaf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.imgGustaf {
    border: 4px solid white;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

.imgDivChild {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: gilroy;
}