.headerImage {
    width: 100%;
}

.menuContainer {
    filter: drop-shadow(10px 10px 10px gray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-image: url("skyline1.jpg");
}

.Dennis,
.Gustaf,
.start {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: gilroy;
    font-size: 30px;
}

nav div a {
    background-color: rgba(136, 175, 219, 0.651);
}

.current-item a {
    background-color: rgb(20, 40, 56);
}

nav div a:hover {
    background-color: rgb(66, 145, 209);
}

@font-face {
    font-family: gilroy;
    src: url(gilroy-light.otf);
}

body {
    background-color: rgb(200, 200, 200);
}

.container {
  display: flex;

}

.containerItem {
  width:100%;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 90%;
}

p {
  position: absolute;
  bottom: 12px;
  left: 16px;
  color:white;
  font-family: gilroy;
  font-size: 14px;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-spacing: 20px;
}

table tr
{
  font-family: gilroy;
  font-size: 30px;
}

th, td
{
  border: 2px solid black;
    border-radius: 25px;
    padding: 15px;
    border-left-color: rgb(0,100,225);
    border-top-color: rgb(0,125,225);
    border-right-color: rgb(0,150,225);
    border-bottom-color: rgb(0,175,225);
}

th, td:hover {

}

tbody {
  background-color: whitesmoke;
  filter: drop-shadow(0 0px 10px black);
  border-radius: 20px;
}
