.headerImage {
    width: 100%;
}

.menuContainer {
    filter: drop-shadow(10px 10px 10px gray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-image: url("skyline1.jpg");
}

.Dennis,
.Gustaf,
.start {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: gilroy;
    font-size: 30px;
    background-color: rgba(136, 175, 219, 0.651);
}

.current-item a {
    background-color: rgb(20, 40, 56);
}

nav div a:hover {
    background-color: rgb(66, 145, 209);
}

@font-face {
    font-family: gilroy;
    src: url(gilroy-light.otf);
}

body {
    background-color: rgb(200, 200, 200);
}

.grid-container-Dennis {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-gap: 20px;
}

.grid-item-Dennis {
    border: 1px solid;
    font-size: 16px;
    font-family: gilroy;
    color: white;
    padding: 10px;
}

.interest-list {
    font: gilroy;
}


.imgText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: gilroy;
}

.DennisImg {
    border: 4px solid white;
    box-shadow: 0 0px gray, 0px 0 gray;
    width: 350px;
    height: auto;
}

.imgDennis {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
